html,body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    height:100%;
    width:100%;
    margin:0px;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
.header{
    height:30%;
    width: 100vw;
    background-color: #d32737;
    color: white;
    position: relative;

}
.heading{
    font-size: 5rem;
    position: absolute;
    margin-bottom: 0%;
    font-weight: 800;
    margin-left:2%
    
}
.container-fluid{
    margin-top: 4%;
    margin-left: 10%;
    width:60%;
}

.container-fluid h1{
    position:relative;
    background-color: #d32737;
    color:white;
    font-size: 3rem;
    margin-left: -15%;
}
/* .container-fluid h2::after{
    position: absolute;
    bottom:0;
    right: 12px;
    width: 67px;
    height: 2px;
} */

.accordion{
    width: 100%;
    padding: 0 5px;
    border: 2px solid #6db5ff;
    cursor: pointer;
    border-radius:50px;
    display: flex;
    margin : 10px 0;
    align-items: center;

}
.accordion .icon{
    margin: 0 10px 0 0;
    width:20px;
    height: 20px;
    background: url() no-repeat 8px 7px #d32737 ;
    border-radius: 50%;
    float: left;
    transition: all .5s ease-in;
    padding:9px
}

.accordion h5{
    font-size : 1.375rem;
    margin: 0;
    padding: 3px 0 0 0;
    font-weight: normal;
    color: #1f5c9a;
    transition: all .5s ease-in;
}

.active .icon{
    background: url() no-repeat 8px -25px white;
}

.active{
    background-color: #6db5ff;
    color: #fff;
}

.active h5{
    color:#fff;
}

.panel{
    padding: 0 15px;
    border-left: 1px solid #6db5ff;
    margin-left :25px;
    font-size: 0.875rem;
    text-align: justify;
    overflow: hidden;
    max-height: 0px;
    transition: all .5s ease-in;
}
@media only screen and (max-width:320px){
    h5.ques{
        font-size: 0.8rem;
    }
    div.panel{
        font-size: 0.6rem;
    }
    .heading{
        padding-top: 30px;
        font-size: 3rem;
    }
    div.accordion{
        width: 70vw;
    }
    .accordion .icon{
        width: 5px;
        height: 5px;
        border-radius: 50%;
        padding: 8px;
    }
}
@media only screen and (min-width:321px) and (max-width:768px){
    h5.ques{
        font-size: 1rem;
    }
    .heading{
        font-size: 4rem;
    }
    div.panel{
        font-size: 0.7rem;
    }
    div.accordion{
        width: 70vw;
    }
    .accordion .icon{
        width: 5px;
        height: 5px;
        border-radius: 50%;
        padding: 10px;
    }
}
